sudo: required
addons:
  apt:
    update: true
    packages:
    - docker-ce
services:
- docker
before_install:
script:
- export DOCKER_CLI_EXPERIMENTAL=enabled
- docker manifest inspect vmnet8/helloworld:1.1  > 1-1.txt
- docker manifest inspect vmnet8/helloworld:1.2  > 1-2.txt
- sha1=$(jq .manifests[1].digest 1-1.txt  |sed -e 's/^"//' -e 's/"$//')
- echo $sha1
- sha2=$(jq .manifests[1].digest 1-2.txt  |sed -e 's/^"//' -e 's/"$//')
- echo $sha2
#- dockertag="$(date +%Y%m%d%H%M)"
#- docker manifest create vmnet8/alpine:$dockertag alpine@$shatag balenalib/raspberry-pi-alpine:latest
#- docker manifest create vmnet8/helloworld:1.2 vmnet8/helloworld-tags:x86-groovy vmnet8/helloworld-tags:rpi
#- docker manifest create vmnet8/alpine:latest alpine@$shatag balenalib/raspberry-pi-alpine:latest
- echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
deploy:
#- provider: script
  #script: ./docker_push $dockertag
 # script: docker manifest push vmnet8/helloworld:1.2
  #on:
  #  all_branches: true
deploy:
#- provider: script
#  script: docker manifest push vmnet8/alpine:$dockertag
#  on:
#    all_branches: true
  on:
    condtion: $sha1 = $sha2
env:
  global:
  - secure: R+mSAK87xrYZCtiPbtu2WyiKV900lTnIErn2QtQz2DDz6ed0+dROeQ+yjANiaRgUsclAEsK2cq6E+3IkjOTukZchmth1H4J5MIkRu5a6zb8ZwxBPvjJgcLHYMBiMLp6u8FyyKNPYM86Qc7H/jCc4F0bb/unZGikiHwzdyEMd0wxXs5g/DnUtQanqKKw20yhM8HpzdyYNhR1fx7jwvCuRspmRovTjSqP/zm0S9/RzAl9BpjaI4s9MLX2fSMzELtnZ0nGo1AL6Qc0lFKhaMNdAQ/mhyjgj083cq7PAp4xYZg4QClXoCOAEgaKzb9mkiAE741+5LV79a1dHyxo3z5/Qry/ZlUrOIJ8IIZ8nU3h6zA9A0nJbYW2u1/2dLlf2pIphM+TUE3MTuE5hvEZd4mTLl7Cf9NDKVA3aI4v6zGD57AjM+Zi3+lGU85cOGBQO8kYjR1VRfVQX1OKQKbpCKj+h5d86xEdWlshY4cZb0MK1Xy1zJgTwqX6AEOQJ3N8J3c4DBYNTN4pP9rdaN7h/q+47kldsdYJlSK72IqedVPOloGpzBo3n67BlIkSYG47UMJgzDxgPjK/lzosMWLjBFGUxgkPXswPulFWEWR0+qK5663k/6Wv3/mke4X7hWtXMM9zH0xFvqxSr8fakMiRySml14pgbEKsz4vDF2C7XaALBJjc=
